<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlbh</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.qlbh.util.Vaitro" />
        <mapping class="com.qlbh.util.Khohang" />
        <mapping class="com.qlbh.util.Tygia" />
        <mapping class="com.qlbh.util.Nhomhanghoa" />
        <mapping class="com.qlbh.util.Donvitinh" />
        <mapping class="com.qlbh.util.Nhacungcap" />
        <mapping class="com.qlbh.util.Congty" />
        <mapping class="com.qlbh.util.Loaikhachhang" />
        <mapping class="com.qlbh.util.Phieuxuat" />
        <mapping class="com.qlbh.util.Chitietphieunhap" />
        <mapping class="com.qlbh.util.Hanghoa" />
        <mapping class="com.qlbh.util.Khachhang" />
        <mapping class="com.qlbh.util.Chitietphieuxuat" />
        <mapping class="com.qlbh.util.Nhanvien" />
        <mapping class="com.qlbh.util.Bophan" />
        <mapping class="com.qlbh.util.Khuvuc" />
        <mapping class="com.qlbh.util.Loaihang" />
        <mapping class="com.qlbh.util.Phieunhap" />
        <mapping class="com.qlbh.util.Nguoidung" />
    </session-factory>
</hibernate-configuration>
