.header-tab-group-wrapper {
	-fx-padding: 3px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
    -fx-border-color: #1976d2;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.header-tab {
	-fx-border-color: #1976d2;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.header-tab-button {
	-fx-padding: 3px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}