.wrapper {
	-fx-background-color: #e3efff;
}
.main-content {
	-fx-padding: 1px;
    -fx-border-insets: 1px;
    -fx-background-insets: 1px;
	-fx-border-color: #afcdf2;
	-fx-border-radius: 3px;
	-fx-border-width: 1px;
	-fx-background-color: #dfedfd;
}
.main-content-header {
	-fx-background-color: #bfd3ed;
	-fx-border-color: #afcdf2;
	-fx-border-width: 0 0 1px 0;
}
.main-content-header-bar {
	-fx-background-color: #557eb4;
	-fx-border-radius: 2px;
}
.main-content-table-wrapper {
    -fx-border-color: #8db0d8;
    -fx-border-radius: 3px;
	-fx-border-width: 1px;
}
.main-content-table-view {
    -fx-border-color: #8db0d8;
    -fx-border-radius: 3px;
	-fx-border-width: 1px;
}
.left-sidebar {
	-fx-padding: 1px;
    -fx-border-insets: 1px;
    -fx-background-insets: 1px;
	-fx-border-color: #8db0d8;
	-fx-border-radius: 3px;
	-fx-border-width: 1px;
	-fx-background-color: #e3efff;
}
.left-sidebar-header {
	-fx-background-color: #5a8cc7;
}
.left-sidebar-box {
    -fx-border-color: #8db0d8;
	-fx-border-radius: 3px;
	-fx-border-width: 1px;
	-fx-background-color: #c1d6f1;
}
.left-sidebar-box-header {
	-fx-border-color: #8db0d8;	
	-fx-border-width: 0 0 1px 0;
	-fx-background-color: #aec7e9;
}